/*!*BEM设计模式*!*/
/*模块：没有前缀，多个单词用-链接*/
/*元素：元素在模块之后，可以有多个层级，以_链接*/
/*修饰：某元素或者模块的特别的状态，必须有一个状态名和状态值，用_链接*/



/*导航头*/
.header{
    background-color: #f7f7f7f7;
    border: 1px solid red;
}

.header_wrap{
    height: 80px;
    width: 1200px;
    position: relative;
    border: 1px solid red;
    margin: 0 auto;
}
.header_logo{
    border: 1px solid red;
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-indent: 50px;
    font-size: 20px;
    color: #07111b;
    background: url("../img/logo.png") left center no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 20px;
}
.header_nav{
    position: absolute;
    right: 20px;
    height: 38px;
    line-height: 38px;
    top: 50%;
    margin-top: -19px;
}
.header_nav-item{
    color: #292f35;
    font-size: 14px;
    display: block;
    height: 38px;
    width: 60px;
    float: left;
    margin-left: 40px;
    text-align: center;
}


.header_nav-item_custom_button{
    background-color: #000;
    color: #f4f4f5;
    text-align: center;
    width:60px;
    border-radius: 3px;
}


